{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Recal++ - Home{%endblock %}

{% block content %}

<!-- background image -->
<div class="absolute z-20 top-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
  <div class="w-[108rem] flex-none flex justify-end">
    <picture>
      <img src="{% static 'schedule_builder/images/grad1.png' %}" alt=""
        class="w-[71.75rem] flex-none max-w-none dark:hidden" decoding="async">
    </picture>
    <picture>
      <img src="{% static 'schedule_builder/images/grad2.png' %}" alt=""
        class="w-[90rem] flex-none max-w-none hidden dark:block" decoding="async">
    </picture>
  </div>
</div>

<!-- top nav bar -->
<div id="top-nav-bar"
  class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-300/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent">
  <div class="max-w-8xl mx-auto">
    <div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
      <div class="relative flex items-center">
        <a class="mr-3 flex-none w-[2.0625rem] overflow-hidden md:w-auto" href="/">
          <span class="sr-only">
            Recal++
          </span>
        </a>
        <div class="relative" data-headlessui-state="">
          Recal++
        </div>
        <div class="relative hidden lg:flex items-center ml-auto">
          <div class="flex items-center ml-6 pl-6">
            <button>
              <span class="hidden dark:inline">
                {{ user.netid }}
              </span>
            </button>
            <a href="https://github.com/EthanHaque/recalpp" target="_blank" rel="noopener noreferrer"
              class="ml-6 block text-slate-400 hover:text-slate-500 dark:hover:text-slate-300">
              <span class="sr-only">
                Recal++ on GitHub
              </span>
              <svg viewBox="0 0 16 16" class="w-5 h-5" fill="currentColor" aria-hidden="true">
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                </path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-content">
  <!-- courses side bar  -->
  <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8">
    <div
      class="lg:block fixed z-20 inset-0 top-[2.8125rem] left-[max(0px,calc(40%-45rem))] right-auto w-[19.5rem] pb-10 px-8 overflow-y-auto">
      <nav id="nav" class="lg:text-sm lg:leading-6 relative">
        <div class="sticky top-0 -ml-0.5 pointer-events-none">
          <div class="h-10"></div>
          <div class="relative pointer-events-auto">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114
                                    0z"></path>
              </svg>
            </div>
            <input type="search" id="course-search"
              class="block w-full p-1 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search..." />
          </div>
          <div class="h-8"></div>
        </div>
        <div id="courses" class="h-full px-3 pb-4 overflow-y-auto">
    </div>
        <ul>
          <li><a href="/docs/installation"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-semibold text-sky-500 dark:text-sky-400">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-sky-200 dark:group-hover:bg-sky-500 dark:bg-sky-500 dark:highlight-white/10">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.5 7c1.093 0 2.117.27 3 .743V17a6.345 6.345 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V7.743C5.883 7.27 7.407 7 8.5 7Z"
                    class="fill-sky-200 group-hover:fill-sky-500 dark:fill-sky-300 dark:group-hover:fill-sky-300">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.5 7c1.093 0 2.617.27 3.5.743V17c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V7.743a6.344 6.344 0 0 1 3-.743Z"
                    class="fill-sky-400 group-hover:fill-sky-500 dark:fill-sky-200 dark:group-hover:fill-sky-200">
                  </path>
                </svg>
              </div>Documentation
            </a></li>
          <li><a href="https://tailwindui.com/components?ref=sidebar"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-indigo-200 dark:group-hover:bg-indigo-500 dark:bg-slate-800 dark:highlight-white/5">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path d="m6 9 6-3 6 3v6l-6 3-6-3V9Z"
                    class="fill-indigo-100 group-hover:fill-indigo-200 dark:fill-slate-400"></path>
                  <path d="m6 9 6 3v7l-6-3V9Z"
                    class="fill-indigo-300 group-hover:fill-indigo-400 dark:group-hover:fill-indigo-300 dark:fill-slate-500">
                  </path>
                  <path d="m18 9-6 3v7l6-3V9Z"
                    class="fill-indigo-400 group-hover:fill-indigo-500 dark:group-hover:fill-indigo-400 dark:fill-slate-600">
                  </path>
                </svg>
              </div>Components
            </a></li>
          <li><a href="https://tailwindui.com/templates?ref=sidebar"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-fuchsia-200 dark:group-hover:bg-fuchsia-600 dark:bg-slate-800 dark:highlight-white/5">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8 6C6.89543 6 6 6.89543 6 8V16C6 17.1046 6.89543 18 8 18H10.5C11.0523 18 11.5 17.5523 11.5 17V12C11.5 10.6193 12.6193 9.5 14 9.5H18V8C18 6.89543 17.1046 6 16 6H8ZM7.25 8C7.25 7.58579 7.58579 7.25 8 7.25H8.01C8.42421 7.25 8.76 7.58579 8.76 8C8.76 8.41421 8.42421 8.75 8.01 8.75H8C7.58579 8.75 7.25 8.41421 7.25 8ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H10.01C10.4242 8.75 10.76 8.41421 10.76 8C10.76 7.58579 10.4242 7.25 10.01 7.25H10Z"
                    fill="#E879F9"
                    class="fill-fuchsia-400 group-hover:fill-fuchsia-500 dark:group-hover:fill-fuchsia-300 dark:fill-slate-400">
                  </path>
                  <path
                    d="M13 12C13 11.4477 13.4477 11 14 11H17C17.5523 11 18 11.4477 18 12V17C18 17.5523 17.5523 18 17 18H14C13.4477 18 13 17.5523 13 17V12Z"
                    fill="#F0ABFC" class="fill-fuchsia-300 group-hover:fill-fuchsia-400 dark:fill-slate-500"></path>
                </svg>
              </div>Templates
            </a></li>
          <li><a href="https://www.youtube.com/tailwindlabs"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-pink-200 dark:group-hover:bg-pink-500 dark:bg-slate-800 dark:highlight-white/5">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M19 12a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
                    class="fill-pink-400 group-hover:fill-pink-500 dark:group-hover:fill-pink-300 dark:fill-slate-600">
                  </path>
                  <path
                    d="M11.082 9.107a.685.685 0 0 0-.72-.01.757.757 0 0 0-.362.653v4.5c0 .27.138.52.362.653.224.133.5.13.72-.01l3.571-2.25A.758.758 0 0 0 15 12a.758.758 0 0 0-.347-.643l-3.571-2.25Z"
                    class="fill-pink-50 group-hover:fill-pink-100 dark:group-hover:fill-white dark:fill-slate-400">
                  </path>
                </svg>
              </div>Screencasts
            </a></li>
          <li><a href="https://play.tailwindcss.com"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-blue-200 dark:group-hover:bg-blue-500 dark:bg-slate-800 dark:highlight-white/5">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path d="M4 12a7 7 0 0 1 7-7h2a7 7 0 1 1 0 14h-2a7 7 0 0 1-7-7Z"
                    class="fill-blue-400 group-hover:fill-blue-500 dark:group-hover:fill-blue-400 dark:fill-slate-600">
                  </path>
                  <path d="M10.25 9.75 7.75 12l2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"
                    class="stroke-blue-50 dark:stroke-slate-400 dark:group-hover:stroke-white dark:stroke-slate-400">
                  </path>
                  <path d="m13.75 9.75 2.5 2.25-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" class="stroke-blue-200 dark:group-hover:stroke-white dark:stroke-slate-400">
                  </path>
                </svg>
              </div>Playground
            </a></li>
          <li><a href="/resources"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-purple-200 dark:group-hover:bg-purple-400 dark:bg-slate-800 dark:highlight-white/5">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z"
                    class="fill-purple-400 group-hover:fill-purple-500 dark:group-hover:fill-purple-300 dark:fill-slate-600">
                  </path>
                  <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z"
                    class="fill-purple-200 group-hover:fill-purple-300 dark:group-hover:fill-white dark:fill-slate-400">
                  </path>
                  <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z"
                    class="fill-purple-400 group-hover:fill-purple-500 dark:group-hover:fill-purple-300 dark:fill-slate-600">
                  </path>
                </svg>
              </div><span class="">Resources</span>
            </a></li>
          <li><a href="https://github.com/tailwindlabs/tailwindcss/discussions"
              class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
              <div
                class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-violet-200 dark:group-hover:bg-violet-500 dark:bg-slate-800 dark:highlight-white/5">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11 5a6 6 0 0 0-4.687 9.746c.215.27.315.62.231.954l-.514 2.058a1 1 0 0 0 1.485 1.1l2.848-1.71c.174-.104.374-.15.576-.148H13a6 6 0 0 0 0-12h-2Z"
                    class="fill-violet-400 group-hover:fill-violet-500 dark:group-hover:fill-violet-300 dark:fill-slate-600">
                  </path>
                  <circle cx="12" cy="11" r="1" class="fill-white dark:group-hover:fill-white dark:fill-slate-400">
                  </circle>
                  <circle cx="9" cy="11" r="1" class="fill-violet-200 dark:group-hover:fill-white dark:fill-slate-400">
                  </circle>
                  <circle cx="15" cy="11" r="1" class="fill-violet-200 dark:fill-slate-400 dark:group-hover:fill-white">
                  </circle>
                </svg>
              </div>Community
            </a></li>
          </li>
          <li class="mt-12 lg:mt-8">
            <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">Official Plugins</h5>
            <ul class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800">
              <li><a
                  class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
                  href="/docs/typography-plugin">Typography</a></li>
              <li><a
                  class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
                  href="https://github.com/tailwindlabs/tailwindcss-forms">Forms</a></li>
              <li><a
                  class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
                  href="https://github.com/tailwindlabs/tailwindcss-aspect-ratio">Aspect Ratio</a></li>
              <li><a
                  class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300"
                  href="https://github.com/tailwindlabs/tailwindcss-container-queries">Container Queries</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {% comment %}
  <!-- calendar -->
  <div class="bg-gradient-to-br bg-gradient-to-b from-gray-900 to-gray-600 min-h-screen pt-16">
    <div class="container mx-auto px-4 py-8">
      <div class="mx-auto bg-white bg-opacity-40 rounded-lg shadow-xl p-6 backdrop-blur-md w-[90%] md:w-[60%]">
        <div class="flex items-center justify-between mb-4">
          <h1 class="text-2xl font-semibold text-white">Fall 2023</h1> <!-- change to dynamic -->
          <div>
            <div>
              <br /> <!-- for formatting -->
            </div>
          </div>
        </div>
        <div class="grid grid-cols-6 gap-4">
          <div></div>
          <div class="font-semibold text-center text-white">Mon</div>
          <div class="font-semibold text-center text-white">Tue</div>
          <div class="font-semibold text-center text-white">Wed</div>
          <div class="font-semibold text-center text-white">Thu</div>
          <div class="font-semibold text-center text-white">Fri</div>
          <!-- Display times -->
          {% for hour in times %}
          <div class="font-semibold text-center text-white">
            {{ hour|time:"%I:%M %p" }}
          </div>
          {% for day in days %}
          <div class="{{ day }}-{{ hour|time:" %I:%M %p" }} bg-white bg-opacity-40 rounded-lg shadow-xl backdrop-blur-md
            w-[90%] md:w-[60%]"></div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>




  <!-- courses sidebar -->
  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-full h-screen pt-20 transition-transform -translate-x-full border-r border-gray-200 md:w-80 md:translate-x-0 dark:border-black bg-white dark:bg-[#0d1117]"
    aria-label="Sidebar">
    <form class="px-3 pb-4">
      <label for="default-search"
        class="text-sm font-medium text-gray-900 sr-only dark:text-white content-center">Search</label>
      <div>
        <div class="flex justify-center">
          <div class="lg:w-64 relative mx-auto">
            <div class="lg:w-64 relative">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114
                                    0z"></path>
                </svg>
              </div>
              <input type="search" id="course-search"
                class="block w-full p-1 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search..." />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div id="courses" class="h-full px-3 pb-4 overflow-y-auto">
    </div>
  </aside>

  <!-- degree progress sidebar -->
  <aside id="degree-progress"
    class="fixed top-0 right-0 z-40 w-full h-screen pt-20 transition-transform translate-x-full bg-white border-r border-gray-200 md:w-64 md:translate-x-0 dark:bg-black dark:border-black"
    aria-label="Degreebar">
    <div id="degree-progress-content"
      class="h-full px-3 pb-4 overflow-y-auto dark:text-white bg-white dark:bg-[#0d1117]">
    </div>
  </aside> {% endcomment %}
</div>

{% endblock %}

{% block extrascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static 'schedule_builder/js/schedule_builder.js' %}"></script>
{% endblock %}