{% extends "base.html" %} 
{% load static tailwind_tags %} 
{% block title %}{{ title }}{% endblock title %} 
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/user.js' %}"></script>
<script src="{% static 'js/notes.js' %}"></script>
<script src="{% static 'js/combobox.js' %}"></script>
<script src="{% static 'js/calendar_functionality.js' %}"></script>
<script src="{% static 'js/course_search.js' %}"></script>
<script src="{% static 'js/course_manager.js' %}"></script>
<script src="{% static 'js/degree_progress.js' %}"></script>
<script src="{% static 'js/departments.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/colors.js' %}"></script>
<script src="{% static 'js/index.global.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/user_settings_modal.js' %}"></script>

{% endblock javascript %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock css %}


{% block content %}

<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{ user}} Settings
        </h3>
      </div>

       <select class="js-example-basic-multiple" multiple="multiple"></select>
      <!--body-->
      <div class="relative p-6 flex-auto">
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" id="modal-id">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>

<!-- top nav bar -->
<div id="top-nav-bar" class="sticky top-0 z-40 w-full bg-gray-800 flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-600/50 dark:border-slate-50/[0.06] supports-backdrop-blur:bg-white/60">

  <div class="max-w-8xl mx-auto">
    <div
      class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0"
    >
      <div class="relative flex items-center">
        <a
          class="mr-3 flex-none w-[2.0625rem] overflow-hidden md:w-auto"
          href="/"
        >
          <span class="sr-only"> Recal++ </span>
        </a>
        <div class="relative" data-headlessui-state="">Recal++</div>
        <div class="relative lg:flex items-center ml-auto">
          <div class="flex items-center ml-6 pl-6">
            <div class="relative inline-block">
              <div>
                <!--User button-->
                <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white dark:bg-slate-800 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-gray-300 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-100 hover:bg-gray-50 dark:hover:bg-gray-900" id="userButton" aria-expanded="false" aria-haspopup="true">
                  {{ user }}
                  <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
              <!--Modal Dropdown-->
              <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50 hidden" id="userDropdown">
                <a class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" onclick="toggleModal('modal-id')">
                  Settings
                </a>
                <a href="/accounts/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
              </div>
            </div>

            <!--Github Button-->
            <a
              href="https://github.com/EthanHaque/recalpp"
              target="_blank"
              rel="noopener noreferrer"
              class="ml-6 block text-slate-400 hover:text-slate-500 dark:hover:text-slate-300"
            >
            
              <span class="sr-only"> Recal++ on GitHub </span>
              <svg
                viewBox="0 0 16 16"
                class="w-5 h-5"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-content" class="pt-16">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8">
    <!-- courses side bar  -->
    <div
      class="lg:block fixed z-20 inset-0 top-[2.8125rem] left-0 right-auto w-[max(220px,calc(25%))] pb-10 px-8 overflow-y-auto"
    >
      <nav id="nav" class="lg:text-sm lg:leading-6 relative">
        <div class="sticky top-0 -ml-0.5 pointer-events-none">
          <div class="h-10"></div>
          <div class="relative pointer-events-auto">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114
                                        0z"
                ></path>
              </svg>
            </div>
            <input
              type="search"
              id="course-search"
              class="block w-full p-1 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search (e.g. COS 126, LA…)"
            />
          </div>
        </div>
        <div id="enrolled-courses-container" class="flex-initial h-3/12% hidden">
          <div class="col-md-6">
            <center><h1 id="enrolled-courses-text"style="font-size: 24px; margin-top: 10px;">Enrolled Courses</h1>
              <hr style="margin-top: 10px;"></hr>
            </center>
            <div id="enrolled">
              <!-- Enrolled courses will be dynamically added here -->
                <ul id="enrolled-courses" class="h-3/12 px-1 pb-2 overflow-y-auto"></ul>
            </div>
          </div>
        </div>
        <div id="courses list">
          <center><h1 style="font-size: 24px; margin-top: 10px;">Course List</h1>
            <hr style="margin-bottom: 5px; margin-top: 10px;">
          </center>
          <ul id="courses" class="flex-initial h-full px-1 pt-3 pb-2 overflow-y-auto"></ul>
        </div>
        <div id="empty-query">
          <center><h1 style="font-size: 18px; margin-top: 30px;">There is no query. <br> Please search courses <br>to view course list!</h1></center>
        </div>
      </nav>
    </div>

    

    <!-- calendar -->
    <div id="calendar" class="w-[calc(50%)] mx-auto mt-0"></div>

    <!-- degree progress sidebar -->
    <div
      class="lg:block fixed z-20 inset-0 top-[2.8125rem] right-0 left-auto w-[max(220px,calc(25%))] pb-10 px-8 overflow-y-auto"
    >
      <nav id="nav" class="lg:text-sm lg:leading-6 relative">
        <div class="sticky top-0 -ml-0.5 pointer-events-none">
          <div class="h-10"></div>
          <div class="relative pointer-events-auto"></div>
        </div>
        <ul
          id="degree-progress-content"
          class="h-full px-1 pt-3 overflow-y-auto"
        ></ul>
        <div id="metrics">
          <center>
            <h1 style="font-size: 24px;">Metrics</h1>
            <hr style="margin-bottom: 5px; margin-top: 10px;">
          </center>
          <ul
          id="general-metrics-content"
          class="h-full px-1 pt-3 pb-2 overflow-y-auto"
          ></ul>
        <center>
          <hr style="margin-bottom: 5px; margin-top: 5px;">
          <h1 style="font-size: 16px;">Distributions</h1>
          <hr style="margin-bottom: 5px; margin-top: 5px;">
        </center>
        <ul
          id="distribution-metrics-content"
          class="h-full px-1 pt-3 pb-2 overflow-y-auto"
          ></ul>
        <center>
          <hr style="margin-bottom: 5px; margin-top: 5px;">
          <h1 style="font-size: 16px;">Relevant Courses Satisfied</h1>
          <hr style="margin-bottom: 5px; margin-top: 5px;">
        </center>
        <ul
          id="relevant-courses-metrics-content"
          class="max-h-32 px-1 pt-3 pb-2 overflow-y-auto"
          ></ul>
        </div>
        <div id="user-notes">
          <center>
            <hr style="margin-bottom: 5px; margin-top: 5px;">
            <h1 style="font-size: 16px;">Notes</h1>
            <hr style="margin-bottom: 5px; margin-top: 5px;">
          </center>
          <textarea id="notes-textarea" rows="5" class="mt-2 w-full px-3 py-2 border rounded"></textarea>
        </div>

        <script>
          // Get a jQuery reference to the HTML element
          const $notesTextarea = $("#notes-textarea");
        
          // Update user notes every time change is detected
          $notesTextarea.on("input", () => {
            const newNotes = $notesTextarea.val();
            User.setNotes(newNotes);
          });
        </script>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
